<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="AccountingMode" value="0"/>
  <add key="Branch" value="HB"/>
  <add key="OracleSchema" value="SYERP" />
  <!--<add key="ServiceType" value="SaleService.Host" />
  <add key="ServiceName" value="SaleService.Host" />-->
  <add key="NServiceBus/Transport" value="host=10.3.5.95;userName=jzt;password=jzt" />
  
</appSettings>