<?xml version="1.0" encoding="utf-8" ?>
<CacheConfiguration>
  <cacheManagers>
    <!-- 
        Here is the entity list which wants the custom configuration. 
        name : the full name of the entity 
        
        dataCacheLocalCacheInvalidationPolicy:  TimeoutBased -> sets the local cached items is expired by time out
                                                NotificationBased -> sets the local cached items is expired by notification 
        defaultTimeOut: it's the time out format is millisecond
        
        objectCount: it's allowed the total count of the cached items
      -->
    <add name="ESS.Common.Shared.Entities.Prod.ProdPriceInfo" defaultTimeOut="30000"></add>
    <add name="ESS.Common.Shared.Entities.Prod.BasicProdInfo" defaultTimeOut="30000"/>
    <add name="ESS.Common.Shared.Entities.Prod.CommonProdInfo" defaultTimeOut="30000"/>
    <add name="ESS.Common.Shared.Entities.Account.ProductBranchInventory_Info" defaultTimeOut="30000" />
    
    <add name="ESS.FW.Common.Tests.Cache.TestCachingMethod"  defaultTimeOut ="30000" objectCount="10000"/>
    <add name="ESS.Common.Shared.Entities.Cust.CommonCustInfo" defaultTimeOut ="600000" objectCount="10000"/>
    <add name="ESS.Common.Shared.Entities.Price.ProdCustsPriceInfo" defaultTimeOut ="600000" objectCount="10000"/>
  </cacheManagers>
  <settings>
        <add key="UseFullCache" value="false" />

    <add key="UseRedisCache" value="false"/>
    <!--
        This is a prefix key for generating the cache key.
      -->
    <add key="CacheKeyPrefix" value="BETA"/>
    <!--
        Default Value: false
        This is a switch to trun off use the dataCacheClient or use the remote configuration in the CarrierPreference
      -->
    <add key="UseDataCacheClient" value="false"/>

    <!--
        This is the client timeout value for Fabric Cache.
      -->
    <add key="RequestTimeout" value="2000"/>
	
    <!--
		TransportProperties
		-->
    <add key="maxBufferSize" value="102400"/>
    <add key="connectionBufferSize" value="131072" />
    <add key="maxBufferPoolSize" value="268435456"/>
    <add key="maxOutputDelay" value="2"/>
    <add key="channelInitializationTimeout" value="60000"/>
    <add key="receiveTimeout" value="600000"/>
    
	<!--
		SecurityProperties
		-->
	<!-- None or Transport-->
	<add key="SecurityMode" value="None" />
    <!-- None, EncryptAndSign or Sign-->
    <add key="ProtectionLevel" value="None" />
     
    
    <!--
        For extention settings
    

      <add key="RegionName" value="MaybeIsYourServiceName"/>  -->
    
    
  </settings>
</CacheConfiguration>