<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=devcenter;Password=devcenter;Data Source=orcl" />
  <!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=syerp;Password=syerp;Data Source=127.0.0.1/orcl" />-->
</connectionStrings>