<?xml version="1.0" encoding="utf-8"?>
<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Info" logWarningsWhenNoCategoriesMatch="true">
  <specialSources>
    <allEvents switchValue="All" name="All Events"/>
    <notProcessed switchValue="All" name="Unprocessed Category"/>
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
        <add name="Formatted EventLog TraceListener"/>
        <add name="Measure Rolling File Listener"/>
      </listeners>
    </errors>
  </specialSources>
</loggingConfiguration>