<?xml version="1.0" encoding="UTF-8"?>
<LoggerConfiguration isAuditOn="false" isDebugOn="false" isErrorOn="true" isFatalOn="true" isInfoOn="false" isTimerCheckThresholdsOn="true" isTimerUsageOn="true" isTimeStampInUtc="true" isTraceOn="false" isWarnOn="false" refreshMinutes="60" legalEntityId="-1" loginUserHttpServerVariableName="" monitorTypeName="ESS.FW.Common.Monitoring.ApplicationMonitor, ESS.FW.Common.Monitoring">
  <detailedSettings>
    <add name="*" timerUsageOn="true" traceOn="false" debugOn="false" thresholdError="-1" thresholdWarning="-1" />
    <add name="Soap.Outgoing.*" timerUsageOn="false" traceOn="false" debugOn="false" thresholdError="-1" thresholdWarning="-1" />
    <add name="Soap.Incoming.*" timerUsageOn="false" traceOn="false" debugOn="false" thresholdError="-1" thresholdWarning="1" />
  </detailedSettings>
</LoggerConfiguration>