<?xml version="1.0" encoding="UTF-8"?>
<messagingConfiguration name="Messaging Application Block" defaultCulture="en-US">
  <messages>
    <add name="SaleOrderMessageFile" loaderType="ESS.FW.Common.Messages.MessageLoaders.ResourceMessageLoader, ESS.FW.Common.Messages" resourceType="ESS.Common.Shared.LoggingSupport.ProjectMessages, ESS.Common.Shared.LoggingSupport" resourceName="SaleOrderMessages" />
    <add name="CommonMessagesFile" loaderType="ESS.FW.Common.Messages.MessageLoaders.ResourceMessageLoader, ESS.FW.Common.Messages" resourceType="ESS.Common.Shared.LoggingSupport.ProjectMessages, ESS.Common.Shared.LoggingSupport" resourceName="CommonMessages" />
    <add name="JZTMessagesFile" loaderType="ESS.FW.Common.Messages.MessageLoaders.ResourceMessageLoader, ESS.FW.Common.Messages" resourceType="ESS.Common.Shared.LoggingSupport.ProjectMessages, ESS.Common.Shared.LoggingSupport" resourceName="JZTMessages" />
  </messages>
  <exceptionMappings>
    <add name="ArgumentException" errorCode="950" />
    <add name="ArithmeticException" errorCode="951" />
    <add name="IndexOutOfRangeException" errorCode="952" />
    <add name="OutOfMemoryException" errorCode="953" />
  </exceptionMappings>
</messagingConfiguration>