<?xml version="1.0" encoding="utf-8" ?>
<oracle.manageddataaccess.client>
  <version number="*">
    <dataSources>
      <dataSource alias="orcl" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.3.4.80)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=center))) " />
      <!--<dataSource alias="orcl" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl))) " />-->
    </dataSources>
  </version>
</oracle.manageddataaccess.client>
